extends main.pug

block productos 
    .productContainer
        h2.title Vista de productos
        if productos.length
            .titleHeader
                h5.titleNombre Nombre
                h5.titlePrecio Precio
                h5.titleFoto Foto URL
        each val in productos             
            .productData
                .productTitle
                    h5!=val.title
                .productPrice
                    h5!=val.price
                .productThumbnail
                    img(src=val.thumbnail alt='')
        else
            h2.title No hay productos
        a(href='/')
            button.css-button-sliding-to-top--blue2 Volver al formulario de carga
